h1.app-title {
  text-align: center;
  font-family: 'Space Mono', sans-serif;
  font-size: 2.75em;
  color: darken(red, 10%);
}

h1.title {
  text-align: center;
  font-family: 'Space Mono', sans-serif;
}

.container {
  text-align: center;
  width: 50%;
  margin-left: 25%;
}

a {
  color: darken(red, 35%);
}
