<h1 class="title"><%= t('gunslingers.index.header') %></h1>

<div class="container">
  <% @gunslingers.each do |gunslinger| %>
   <%= render partial: 'gunslinger', locals: { gunslinger: gunslinger } %>
  <% end %>

  <%= link_to t('navigation.home'), root_path %>
</div>
