<div class="container">
  <%= render partial: 'gunslinger', locals: { gunslinger: @gunslinger } %>

  <% badge_templates.each do |template| %>
    <%= button_to t('badge.issue', template_name: template.name ), badge_issuances_path(gunslinger_id: @gunslinger.id, template_id: template.id) %>
  <% end %>

  <%= link_to t('navigation.back'), gunslingers_path %>
</div>
